{% extends "base.html" %} {% block page_title %}Password Reset Page Confirmation{% endblock %} {% block page_heading %}Reset Password Current Unavailable{% endblock %} {% block content %}


<section class="parallax parallax-password">
  <div class="container main-message">
    <div class="jumbotron">
      <h1 class="display-password"> <br >Reset your password.</h1>
    </div>
  </div>
</section>


<br>

<!-- Password reset email confirmation -->

<div class="container detail-padding">
    <p>If this is the email you registered with you will recieve an email with instructions on how to reset your password.</p>
    <p>You should be receiving it shortly.</p>
</div>



{% endblock %}
