{% extends "base.html" %} {% load static from staticfiles %} {% block title %}Reset Complete Page {% endblock %} {% block content %}

<section class="parallax parallax-password">
  <div class="container main-message">
    <div class="jumbotron">
      <h1 class="display-password"> <br>Reset your password.</h1>
    </div>
  </div>
</section>

<br>

<!-- Password reset confirmation -->
<div class="container">
  <br><br><br>
  <h2>Password Reset Complete</h2>
  <p>Your password has been reset. You can login now.</p>
  <p><a class='btn btn-color-fs' href="{{ login_url }}">Login</a></p>
</div>
{% endblock %}
