{% extends 'base.html' %} {% load static from staticfiles %} {% block page_title %} Packages of Professional Services already bought {% endblock %} {% block content %} {% load bootstrap_tags %}

<!--   Main page image   -->

<section class="parallax parallax-ProfessionalServices">
  <div class="container main-message">
    <div class="jumbotron">
      <h1 class="display-professionalServices">Packages of Professional Services already bought.</h1>
    </div>
  </div>
</section>

<!--   Navigation to request a Professional Service or back to all Professional Services  -->

<section class="container">
  <div class="row">
    <div class="profile-submit-buttons col-sm-6 center">
      <a href="{% url 'request_support' %}"><button type="button" class="btn btn-color"> Request an hour of Professional Services</button></a>
    </div>
    <div class="profile-submit-buttons col-sm-6 center">
      <a href="{% url 'view_ProfessionalServices' %}"><button type="button" class="btn btn-color"> Back to Professional Services</button></a>
    </div>
  </div>

  <!--   Bootswatch cards to display Professional Services  -->

  <div class="card mb-3">
  {% for Purchase in completed_ProfessionalServices %}
    <div class="card-body">
      <p class="card-text">{{purchase.id}}-{{ purchase_list }} - {{ purchase.license_end }}</p>
      <p class="card-text">{{ProfService.totalHours }} hours</p> 
    </div>
  </div>
  {% endfor %}


  <!--   Pagination to display 5 Professional Services packages per page   -->

  <div class="pagination">
    <span class="step-links">
        {% if ProfessionalServices.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ ProfessionalServices.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ ProfessionalServices.number }} of {{ ProfessionalServices.paginator.num_pages }}.
        </span> {% if ProfessionalServices.has_next %}
    <a href="?page={{ ProfessionalServices.next_page_number }}">next</a>
    <a href="?page={{ ProfessionalServices.paginator.num_pages }}">last &raquo;</a> {% endif %}
    </span>
  </div>

</section>

<br> {% endblock %}
