{% extends 'base.html' %} {% block page_title %} Packages of Professional Services already bought {% endblock %} {% block content %} {% load bootstrap_tags %}

<!--   Main page image   -->

<section class="parallax parallax-ProfessionalServices">
  <div class="container main-message">
    <div class="jumbotron">
      <h1 class="display-professionalServices">Packages of Professional Services already bought.</h1>
    </div>
  </div>
</section>

<!--   Navigation to request a Professional Service or back to all Professional Services  -->

<section class="container">
  <div class="row">
    <div class="profile-submit-buttons col-sm-6 center">
      <a href="{% url 'request_support' %}"><button type="button" class="btn btn-color"> Request an hour of Professional Services</button></a>
    </div>
    <div class="profile-submit-buttons col-sm-6 center">
      <a href="{% url 'view_ProfessionalServices' %}"><button type="button" class="btn btn-color"> Back to Professional Services</button></a>
    </div>
  </div>

  <!--   Bootswatch cards to display Professional Services  -->

  {% for ProfService in ProfessionalServices %}
  <div class="card mb-3">
    <div class="card-header"><strong>{{ProfService.name|truncatewords:"5"}}</strong><span class="card-link"><i class="fas fa-pound-sign"> {{ProfService.udPrice}}</i></span></div>
    <div class="progress">
      {% if ProfService.status == "Available" %}
      <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"> Available </div>
      {% else %}
      <div class="progress-bar progress-bar-animated progress-bar-striped bg-secondary" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Current Unavailable </div>
      {% endif %}
    </div>
    <div class="card-body">
      <p class="card-text">{{ProfService.totalHours }} hours</p>
      <p class="card-text">{{ProfService.description }}</p>
    </div>
    <div class="card-footer text-muted">
      {% if user.is_authenticated %}
      <a href="{% url 'add_to_cart' ProfService.id %}" aria-label="purchase"><i class="fas fa-cart-plus"> Add to Cart</i></a> {% csrf_token %}
      {% else %}
      <i class="fas fa-cart-plus"> Add to Cart</i> {% endif %}
      <a class="btn btn-color-fs buttons-right" href="{% url 'ProfService_detail' ProfService.id %}" role="button">View</a>
    </div>
  </div>

  {% endfor %}


  <!--   Pagination to display 5 Professional Services packages per page   -->

  <div class="pagination">
    <span class="step-links">
        {% if ProfessionalServices.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ ProfessionalServices.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ ProfessionalServices.number }} of {{ ProfessionalServices.paginator.num_pages }}.
        </span> {% if ProfessionalServices.has_next %}
    <a href="?page={{ ProfessionalServices.next_page_number }}">next</a>
    <a href="?page={{ ProfessionalServices.paginator.num_pages }}">last &raquo;</a> {% endif %}
    </span>
  </div>

</section>

<br> {% endblock %}
