{% extends 'base.html' %} {% block page_title %} Profesional Service package Detail {% endblock %} {% block content %} {% load bootstrap_tags %}

<!--   Bootswatch panels to display Professional Service detail   -->

<section class="container detail-padding">
    <div class="card mb-3">
        <h3 class="card-header">{{ProfService.name}}</h3>
        <div class="card-body">
            <p class="card-text">{{ProfService.description }}</p>
        </div>
        <div class="card-footer text-muted">
            {% if user.is_authenticated %}
            <a href="{% url 'add_to_cart' ProfService.id %}" aria-label="purchase"><i class="fas fa-cart-plus"> Add to Cart</i></a> {% csrf_token %} {% else %}
            {% endif %}
            <a class="btn btn btn-color buttons-right" href="{% url 'view_ProfessionalServices'%}" role="button">Back</a>
        </div>
    </div>

</section>

{% endblock %}
