{% extends 'base.html' %} {% block page_title %} Professional Services {% endblock %} {% block onloadmodal %}
<script type="text/javascript">
$(function() {
  if (typeof Storage != "undefined") {
    if (!sessionStorage.getItem("done")) {
      setTimeout(function() {
        $('#ProfServiceGuide').modal('show');
      }, 1400);
    }
    sessionStorage.setItem("done", true);
  }
});
</script>
{% endblock %} {% block content %} {% load bootstrap_tags %}

<!--   Main page   -->

<section class="parallax parallax-ProfessionalServices">
  <div class="container main-message">
    <div class="jumbotron">
      <h1 class="display-professionalServices">Choose the right package for your needs.</h1>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="ProfServiceGuide" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Additional Info</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>Packages on this section are chargeable</li>
          <li>This packages are individually priced</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-color" data-dismiss="modal"><i class="fas fa-check"></i></button>
      </div>
    </div>
  </div>
</div>

<!--   Navigation to submit a Professional Service   -->
<section class="container">
  <div class="row">
    <!--- <div class="profile-submit-buttons col-sm-6 center">
      <a href="{% url 'new_ProfService' %}"><button type="button" class="btn btn-color"> Submit Profesional Services</button></a>
    </div> --->
    <div class="profile-complete-button col-sm-6 center">
      <a href="{% url 'view_completed_ProfessionalServices' %}"><button type="button" class="btn btn-color"> Completed Professional Services</button></a>
    </div>
  </div>

  <!--   Professional Services packages  -->

  {% for ProfService in ProfessionalServices %}
  <div class="card mb-3">
    <div class="card-header"><strong>{{ProfService.name|truncatewords:"5"}}</strong><span class="card-link"><i class="fas fa-pound-sign"> {{ProfService.udPrice}}</i></span></div>
    <div class="progress">
      {% if ProfService.status == "Available" %}
      <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"> Available </div>
      {% else %}
      <div class="progress-bar progress-bar-animated progress-bar-striped bg-secondary" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Current Unavailable </div>
      {% endif %}
    </div>
    <div class="card-body">
      <p class="card-text">{{ProfService.totalHours }} hours</p>
      <p class="card-text">{{ProfService.description }}</p>
    </div>
    <div class="card-footer text-muted">
      {% if user.is_authenticated %}
      <a href="{% url 'add_to_cart' ProfService.id %}" aria-label="purchase"><i class="fas fa-cart-plus"> Add to Cart</i></a> {% csrf_token %}
      {% else %}
      <i class="fas fa-cart-plus"> Add to Cart</i> {% endif %}
      <a class="btn btn-color-fs buttons-right" href="{% url 'ProfService_detail' ProfService.id %}" role="button">View</a>
    </div>
  </div>

  {% endfor %}

  <!--   Pagination Professional Services   -->

  <div class="pagination">
    <span class="step-links">
        {% if ProfessionalServices.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ ProfessionalServices.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ ProfessionalServices.number }} of {{ ProfessionalServices.paginator.num_pages }}.
        </span> {% if ProfessionalServices.has_next %}
    <a href="?page={{ ProfessionalServices.next_page_number }}">next</a>
    <a href="?page={{ ProfessionalServices.paginator.num_pages }}">last &raquo;</a> {% endif %}
    </span>
  </div>



</section>

<br> {% endblock %}
