@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&display=swap);

/*------------------------ Main styles ----------------------------------*/


html,
body {
    font-family: 'Montserrat', Sans-serif;
    height: 100%!important;
}

h5,
a {
    color: #512d6d !important;
}

a:hover {
    color: #f6303e !important;
    text-decoration: none;
}

footer {
    background-color: #d3b6ea;
}

footer a {
    color: #512d6d;
}

footer a:hover {
    color: #f6303e;
    text-decoration: none;
}

.center {
    text-align: center;
}

.copyright-footer {
    padding-top: 15px;
    text-align: right;
    color: #512d6d;
}

.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0px;
    list-style: none;
    background-color: #d3b6ea;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: none;
    padding-right: 0;
}


.row {
    margin-right: 0px;
    margin-left: 0px;
}

.dropdown-padd {
    padding-left: 10px;
}


/*------------------------ Shopping bag icon ----------------------------*/

.shopping-icon {
    width: 24px;
    height: 24px;
    position: relative;
}


.item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 12px;
    padding: 5px 8px;
}

.shopping-icon-title {
    width: 30px;
    height: 40px;
    padding-bottom: 10px;
}


/*------------------------ Navbar ---------------------------------------*/

.navbar {
    background-color: #d3b6ea;
    margin-bottom: 0px;
}

.nav-tabs {
    border-bottom: 1px solid #f6303e;
}

 .nav-tabs .nav-link.active {
    color: #512d6d !important;
    background-color: #fff;
    border-color: #f6303e #f6303e #fff;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}


.logo {
    background: url("/static/img/full-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 100px;
    padding-bottom: 10px;
    margin-left: 20px;
    min-height: 40px;
    max-height: 60px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}


/*------------------------ Buttons --------------------------------------*/

input[type="search"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #512d6d;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.btn-colored {
    color: #512d6d;
    background-color: #f6303eb0;
    border-color: #f6303eb0;
    box-shadow: 1px 3px 20px 0px rgba(0,0,0,0.47);
}

.btn-color {
    color: #512d6d;
    background-color: #f6303e40;
    border-color: #f6303e40;
    box-shadow: 1px 3px 20px 0px rgba(0,0,0,0.47);
}

.btn-colored {
    border-radius: 50%;
}
.btn-border,
.btn-color {
    border-radius: 25px;
}

.btn-colored:hover,
.btn-color:hover {
    color: #d3b6ea;
}

.btn-color-fs {
    background-color: #d3b6ea;
    border-color: #512d6d4a;
    border-radius: 25px;
    box-shadow: 1px 3px 20px 0px rgba(0,0,0,0.47);
}

.btn-right { 
    float: right;
}

/*------------------------ Parralax header ------------------------------*/

.jumbotron {
    background-color: rgba(255, 255, 255, 0.0);
    padding-top: 25px;
}

.jumbotron p {
    color: white;
}

.display-contact,
.display-professionalServices,
.display-profile,
.display-signUp,
.display-login,
.display-ShoppingBag,
.display-chekout,
.display-search,
.display-password,
.display-bookings {
    font-size: 64px;
    font-weight: 400;
    line-height: 1.2;
}

.display-password,
.display-contact,
.display-signUp,
.display-login,
.display-bookings,
.display-checkout {
    color: white;
}

.display-signUp,
.display-login,
.display-contact,
.display-checkout {
    font-weight: 500;
}

.display-search {
    color: #f6303e;
}

.display-professionalServices,
.display-title,
.display-profile,
.display-ShoppingBag {
    color: #512d6d;
}

.main-message {
    text-align: center;
}


.parallax {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-index {
    background-image: url("/static/img/kids.jpg");
}

.parallax-bookings {
    background-image: url("/static/img/hour-management.jpeg");
}

.parallax-ProfessionalServices {
    background-image: url("/static/img/support.jpg");
}

.parallax-profile {
    background-image: url("/static/img/profile.jpg");
}

.parallax-contact {
    background-image: url("/static/img/Contact-us.jpg");
}

.parallax-signUp,
.parallax-login {
    background-image: url("/static/img/sign.jpg");
}

.parallax-ShoppingBag {
    background-image: url("/static/img/shop-bag.jpg");
}

.parallax-checkout {
    background-image: url("/static/img/checkout.jpg");
}

.parallax-search {
    background-image: url("/static/img/search-2.jpg");
}

.parallax-password {
    background-image: url("/static/img/password.jpg");
}



/*------------------------ Index ----------------------------------------*/

.index-title {
    margin-top: 110px;
    margin-bottom: 80px;
    font-weight: 400;
}

.index-slogan {
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 400;
}

.index-slogan h1,
.index-title h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 1.2;
}

.index-icon {
    font-size: 52px;
    margin-bottom: 15px;
    text-decoration: none;
}

.index-icon a {
    color: #2780E3;
}

.index-icon a:hover {
    text-decoration: none;
}

.index-sub-header {
    font-size: 20px;
    margin-bottom: 12px;
}

.index-sub-text {
    font-size: 16px;
    margin-bottom: 30px;
}

.bottom-register {
    margin-bottom: 30px;
}

.additional-info {
    text-decoration: none;
}


/*------------------------ Login/Register -------------------------------*/

.input-forms {
    margin-top: 35px;
    margin-bottom: 30px;
}


/*------------------------ Cards on Professional Services ---------------*/

.card-header {
    background-color: transparent;
}

.mb-1,
.mb-3 {
    margin-top: 20px;
    border: hidden;
    background-color: #d3b6ead4;
    border-radius: 25px;
}

.card-link {
    float: right;
}

.full-height {
    height: 95%;
}

.card-body {
    background-color: white;
    padding: 15px;
    border-right: 1px solid #d3b6ea;
    border-left: 1px solid #d3b6ea;
}

.cart-item-height {
    height: 95%;
}

.total {
    padding-top: 20px;
}

.detail-padding {
    padding-top: 30px;
}

.card-footer {
    text-align: center;
    background-color: transparent;
}

.card-footer i {
    float: left;
    margin-top: 5px;
    font-size: 20px;
}

.card-footer .btn-color .btn-danger,
.buttons-right {
    float: right;
}


/*------------------------ Progress ---------------------------------------*/

.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1.5rem;
    overflow: hidden;
    font-size: 0.703125rem;
    background-color: #e9ecef;
}

.progress-available,
.progress-approved {
    background-color: #c4ffc4;
}

.progress-rejected {
    background-color: #ffb4b3;
}

.progress-pending {
    background-color: #ffff9e;
}


/*------------------------ Search ---------------------------------------*/

.search-results,
.search-title-padding{
    padding-top: 20px;
    padding-bottom: 20px;
}

.search-title {
    text-decoration: underline;
}


/*------------------------ Profile  -------------------------------------*/

.profile-title {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
}

.profile-title > strong {
    color: #512d6d !important;
}

.profile-submit-buttons {
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile-complete-button {
    padding-top: 20px;
    padding-bottom: 20px;
}

.link-PS:hover {
    background-color: #f6303e40;
}

.link-Hrs:hover {
    background-color: #d3b6ea40;
}

.status-color {
    color: #f6303ec7;
}


/*------------------------ Checkout Ticket ------------------------------*/

.table-color {
    background-color: #d3b6eac4;
}

.table-colored {
    background-color: #512d6dd1;
    color: #fff;
    font-size: medium;
}    

/*------------------------ Checkout  ------------------------------------*/

.checkout-button {
    padding-bottom: 20px;
}

.reset-button {
    cursor: pointer;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    font-size: 27px;
    vertical-align: middle;
}

.payment-errors {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
}


/*-------------------------- Media ---------------------------------------*/

@media (min-width:992px) {
    .navbar {
        max-height: 63px;
    }
    
    .shopping-icon {
        position: fixed;
    }

    .item-count {
        position: inherit;
        font-size: 10px;
        font-weight: bold;
        bottom: 12px;
        padding: 5px 8px;
        margin-left: 0.5px;
    }
}

@media only screen and (min-width: 900px) {
    .breadcrumb {
        padding-left: 160px;
    }

    .shopping-icon {
        position: fixed;
    }

    .item-count {
        position: inherit;
        font-size: 10px;
        font-weight: bold;
        bottom: 12px;
        padding: 5px 8px;
        margin-left: 0.5px;
    }

}

@media only screen and (max-width: 577px) {
    .profile-buttons {
        margin-top: 18px;
    }
    .logo {
        background: url("/static/img/logo.png");
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
        transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
    }

    .furlong-slogan {
        margin-top: 30%;
        height: 100%;
        width: 100%;
    }

    .shopping-icon {
        position: relative;
    }

    .item-count {
        position: inherit;
        font-size: 10px;
        font-weight: bold;
        bottom: 12px;
        padding: 5px 8px;
        margin-left: 0.5px;
    }
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 7rem 2rem;
    }
    
    .shopping-icon {
        position: relative;
    }

    .item-count {
        position: relative;
        font-size: 10px;
        font-weight: bold;
        top: -15px;
        bottom: 12px;
        padding: 0px 8px;
        margin-left: 0.5px;
    }
}

@media (max-width: 575px) {
    .jumbotron {
        padding: 2.5rem 2rem;
    }

    .logo {
        background: url("/static/img/logo.png");
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
        transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
    }

    .furlong-slogan {
        margin-top: 30%;
        height: 100%;
        width: 100%;
    }

    .shopping-icon {
       margin-top: 0px;
        position: fixed;
    }

    .item-count {
        position: inherit;
        font-size: 10px;
        font-weight: bold;
        bottom: 12px;
        padding: 0px 8px;
        margin-left: 0.5px;
    }
}



@media (max-width:364px) {
    .display-bookings {
        font-size: 59px;
    }

    .logo {
        background: url("/static/img/logo.png");
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
        transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
    }

    .furlong-slogan {
        margin-top: 30%;
        height: 100%;
        width: 100%;
    }
    .shopping-icon {
        position: fixed;
    }

    .item-count {
        position: inherit;
        font-size: 10px;
        font-weight: bold;
        bottom: 12px;
        padding: 5px 8px;
        margin-left: 0.5px;
    }
}
