{% extends 'base.html' %} {% load bootstrap_tags %} {% block page_heading %} Profile {% endblock %} {% block content %}
<section class="container detail-padding">

    <!--   Submission buttons   -->
    <div class="btn-group bottom-register">
        <button type="button" class="btn btn-sm btn-color dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Submit<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a class="" href="{% url 'new_hour' %}" role="button">Submit Hour</a></li>
            <li><a class="" href="{% url 'request_support' %}" role="button">Submit Professional Services</a></li>
        </ul>
    </div>

    <!--   Bootswatch tabs to display hours and ProfessionalServices    -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#hours" aria-hidden="true">Hours ({{ hours.count }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#ProfessionalServices" aria-hidden="true">Profesional Services ({{ ProfessionalServices.count }})</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade show active" id="hours">
            {% if hours %} {% for hour in hours %}
            <div class="card mb-3">
                <h3 class="card-header">{{hour.name|truncatewords:"5"}}</h3>
                <div class="progress">
                    {% if hour.status == "Available" %}
                    <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"> Available </div>
                    {% else %}
                    <div class="progress-bar progress-bar-animated progress-bar-striped bg-secondary" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Current Unavailable </div>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p class="card-text">{{hour.description}}</p>
                    <h6 class="card-subtitle text-muted">Author: {{ hour.author }} </h6>
                </div>
                <div class="row card-footer text-muted">
                    <div class="col-sm">
                        <i class="far fa-eye"> {{ hour.views }} </i> {% if user.is_authenticated %}
                        <a href="{% url 'purchase_hour' hour.id %}" aria-label="purchase"><i class="fas fa-cart-plus"> Add to Cart</i></a> {% csrf_token %}
                        <a href="{% url 'hour_detail' hour.id %}" aria-label="comments"><i class="far fa-comment"> ({{ hour.comment_number }}) </i> </a> {% else %}
                        <i class="fas fa-cart-plus"> Add to Cart</i>
                        <i class="far fa-comment"> ({{ hour.comment_number }}) </i> {% endif %}
                    </div>

                    <div class="col-sm profile-buttons">
                        <a class="btn btn-color buttons-right" href="{% url 'hour_detail' hour.id %}" role="button">View</a>
                        <a class="buttons-right edit-button" href="{% url 'edit_hour' hour.id %}" role="button"><i class="far fa-edit"></i></a>
                        <a class="buttons-right delete-button" href="{% url 'delete_hour' hour.id %}" role="button"><i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %} {% else %}
            <div class="card mb-3">
                <h3 class="card-header">Oops! You have not submitted any hours yet!</h3>
            </div>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="ProfessionalServices">
            {% if ProfessionalServices %} {% for ProfService in ProfessionalServices %}
            <div class="card mb-3">
                <h3 class="card-header">{{ProfService.name|truncatewords:"5"}}</h3>
                <div class="progress">
                    {% if ProfService.status == "Available" %}
                    <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"> Available </div>
                    {% else %}
                    <div class="progress-bar progress-bar-animated progress-bar-striped bg-secondary" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Current Unavailable </div>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p class="card-text">{{ProfService.description }}</p>
                    <h6 class="card-subtitle text-muted">Author: {{ ProfService.author }} </h6>
                </div>
                <div class="row card-footer text-muted">
                    <div class="col-sm">
                        {% if user.is_authenticated %}
                        <a href="{% url 'add_to_cart' ProfService.id %}" aria-label="purchase"><i class="fas fa-crt-plus"> {{ ProfService.purchases }} </i></a>
                        {% csrf_token %} {% else %}
                        <i class="fas fa-cart-plus"> Add to Cart</i>
                        {% endif %}
                    </div>
                    <div class="col-sm profile-buttons">
                        <a class="btn btn-color buttons-right" href="{% url 'ProfService_detail' ProfService.id %}" role="button">View</a>
                        <a class="buttons-right edit-button" href="{% url 'edit_ProfService' ProfService.id %}" role="button"><i class="far fa-edit"></i></a>
                        <a class="buttons-right delete-button" href="{% url 'delete_ProfService' ProfService.id %}" role="button"><i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>

            {% endfor %} {% else %}
            <div class="card mb-3">
                <h3 class="card-header">Oops! You have not submitted any Professional Services yet!</h3>
            </div>
            {% endif %}
        </div>
</section>
{% endblock %}
